@import "src/app/shared/variable";

$animation-duration: .5s;

.tile-container {
  display: inline-block;
  position: relative;
  background-color: green;


  .tile {
    display: block;
    min-height: $tile-height;
    min-width: $tile-width;
    max-width: 100%;
    height: auto;
    background-color: red;
    margin: 0 auto;
    border-radius: 6px;

  }

  .details {
    position: absolute;
    bottom: -60%;
    left: 0;
    background-color: white;
    height: 160px;
    width: 100%;
    opacity: 0;
    border-radius: 0 0 6px 6px;
    animation-name: hide-detail;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;


  }

  @keyframes show-detail {
    from {
      opacity: 0;
      bottom: -40%;

    }
    to {
      opacity: 1;
      display: block;
      bottom: 0;

    }
  }

  @keyframes hide-detail {
    from {
      opacity: .5;
      display: none;
      bottom: 0;

    }
    to {
      opacity: 0;
      bottom: -60%;

    }
  }



}

.tile-container:hover .details {
  animation-name: show-detail;
  animation-duration: $animation-duration;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;

}

.tile-container:hover .tile {
  box-shadow: 0 0 43px -1px rgba(0,0,0,1);
  -webkit-box-shadow: 0 0 43px -1px rgba(0,0,0,1);
  -moz-box-shadow: 0 0 43px -1px rgba(0,0,0,1);
}
