<div class="tile-container">
  <img
    class="tile"
    src="https://static.fnac-static.com/multimedia/Images/FR/NR/79/26/64/6563449/1507-1/tsp20150126144616/Muhammad-ultime-joyau-de-la-prophetie.jpg"
    [alt]="book.bookName">

  <div class="details">
    <div class="details-text">
      <h1 class="title">{{book.bookName}}</h1>
      <p class="author">{{book.author}}</p>
      <p class="language">{{book.language}}</p>
      <p class="owner">{{book.owner}}</p>
<!--      <button (click)="onClick()">click</button>-->
    </div>
  </div>
</div>
